* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: nerisbold;
  src: url(Neris-SemiBold.otf);
}

@font-face {
  font-family: neris;
  src: url(Neris-Light.otf);
}

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    min-width: 300px;
}

#logo {
    max-width: 286px;
    display: inline;
}

.logo {
    width: 30%;
}

#navigation {
    float: right;
    display: flex;
    justify-content: flex-end;
    max-width: 674px;
    width: 70%;
    padding: 55px 0 0 0;
}

#navigation nav a {
    color: midnightblue;
    font-size: 0.9rem;
    font-family: nerisbold;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0 0 10px;
}

#navigation .stronaglowna {
    padding-left: 30px;
}

.warsaw {
    width: 100%;
}

#navigationleft {
    float: left;
    width: 20%;
}

#navigationleft a {
    color: midnightblue;
    display: block;
    font-size: 0.9rem;
    font-family: nerisbold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px 10px 0px;
}

section {
    float: right;
    width: 80%;
    margin-bottom: 40px;
}

h1 {
    color: midnightblue;
    font-size: 0.9rem;
    font-family: nerisbold;
    text-transform: uppercase;
    padding: 5px 0px 15px 0px;
}

h2 {
    color: midnightblue;
    font-size: 0.9rem;
    font-family: nerisbold;
    padding: 25px 0 10px 10px;
}

p {
    font-family: neris;
    font-size: 0.8rem;
    text-indent: 30px;
    line-height: 25px;
    text-align: justify;
    padding: 0 10px;
}

h3 {
    text-align: left;
    font-family: neris;
    font-size: 0.9rem;
    line-height: 25px;
    letter-spacing: -0.5px;
}

#podpis {
    float: right;
    margin: 15px 0 0 0;
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 50%;
    float: right;
}

.individual {
    width: 60%;
    margin: 0 20%;
}

.business {
    width: 60%;
    margin: 0 20%;
}

@media screen and (max-width: 880px) {
    body {
        padding: 0 10px;
    }
    #navigation {
        padding: 45px 0 0 0;
    }
    #navigation nav a {
        font-size: 0.75rem;
        padding: 0px 0px 0px 8px;
    }
    #navigationleft a {
        font-size: 0.8rem;
        padding: 5px 5px 10px 0px;
    }
    section {
        margin-bottom: 30px;
    }
    h1 {
        font-size: 0.8rem;
        padding: 2px 0px 10px 0px;
    }
    .marek {
        margin-bottom: 8px;
    }
    h2 {
        font-size: 0.8rem;
        /*line-height: 8px;*/
    }
    h5, p {
        font-size: 0.7rem;
        line-height: 25px;
    }
}

@media screen and (max-width: 750px) {
    body {
        padding: 0 5px;
    }
    #navigation {
        padding: 38px 0 0 0;
    }
    #navigation nav a {
        font-size: 0.8rem;
        padding: 0px 0px 0px 10px;
        text-transform: none;
    }
    #navigationleft a {
        text-transform: none;
    }
    h1 {
        text-transform: none;
    }
    h2 {
        font-size: 0.75rem;
    }

@media screen and (max-width: 670px) {
    #navigation {
        padding: 32px 0 0 0;
    }
    #navigation nav a {
        font-size: 0.7rem;
        padding: 0px 0px 0px 8px;
        text-transform: none;
    }
    #navigationleft a {
        font-size: 0.7rem;
        padding: 5px 5px 10px 0px;
    }
    .warsaw {
        margin-bottom: 0px;
    }
    h1 {
        font-size: 0.7rem;
    }
    h2 {
        font-size: 0.6rem;
    }
    h5, p {
        font-size: 0.6rem;
        line-height: 20px;
    }
}

@media screen and (max-width: 560px) {
    #navigation {
        padding: 25px 0 0 0;
    }
    #navigation nav a {
        font-size: 0.6rem;
        padding: 0px 0px 0px 6px;
    }
    #navigationleft a {
        font-size: 0.6rem;
    }
    .marek {
        margin-bottom: 6px;
    }
    h1 {
        font-size: 0.6rem;
        padding-bottom: 10px;
    }
    h2 {
        font-size: 0.5rem;
        line-height: 6px;
    }
    h5, p {
        font-size: 0.5rem;
        line-height: 18px;
    }
}

@media screen and (max-width: 480px) {
    #navigation {
        padding: 20px 0 0 0;
    }
    #navigation nav a {
        font-size: 0.5rem;
        padding: 0px 0px 0px 4px;
    }
    #navigationleft a {
        font-size: 0.5rem;
    }
    h1 {
        font-size: 0.5rem;
    }
    h2 {
        font-size: 0.45rem;
    }
    h5, p {
        font-size: 0.45rem;
    }
}

@media screen and (max-width: 420px) {
    h2 {
        line-height: 8px;
    }
}

@media screen and (max-width: 400px) {
    #navigation nav a {
        font-size: 0.45rem;
        padding: 0 0 0 3px;
    }
    #navigationleft nav a {
        font-size: 0.45rem;
    }
    h1 {
        font-size: 0.45rem;
    }
}

@media screen and (max-width: 360px) {
    #navigation {
        padding: 14px 0 0 0;
    }
    #navigation nav a {
        font-size: 0.4rem;
        padding: 0 0 0 1px;
    }
    #navigationleft nav a {
        font-size: 0.4rem;
    }
    h1 {
        font-size: 0.4rem;
    }
    h5, p {
        line-height: 16px;
    }
}